<link rel="stylesheet" href="../css/welcome.css"> 

<div class="card text-center">
  <div class="site-name">
      <h1>
          <span class="meet">MEET</span>
          <span class="me">ME</span>
      </h1>
  </div>
      <p>Create an account or login</p>
  <a href="/auths/signup" class="btn btn-primary mb-2">Sign Up</a>
  <a href="/auths/login" class="btn btn-secondary">Login</a>
</div>